@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Montserrat:ital,wght@1,700&family=Poppins:ital,wght@0,500;0,600;1,700&family=Rubik:ital,wght@0,400;0,500;1,300&display=swap');
body,
p,
h1 {
    /*títulos de cartão, por exemplo Trabalhe, Divirta-se font-size: 18px*/
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-family: "Rubik";
}

:root {
    /* ### Primário*/
    --cor-azul: hsl(246, 80%, 60%);
    --cor-vermelho-claro-trabalho: hsl(15, 100%, 70%);
    --cor-azul-suave-reproducao: hsl(195, 74%, 62%);
    --cor-vermelho-claro-estudo: hsl(348, 100%, 68%);
    --cor-verde-limao-exercicio: hsl(145, 58%, 55%);
    --cor-violeta-social: hsl(264, 64%, 52%);
    --cor-laranja-suave-autocuidado: hsl(43, 84%, 65%);
    /*Neutral*/
    --cor-azul-muito-escuro: hsl(226, 43%, 10%);
    --cor-azul-escuro: hsl(235, 46%, 20%);
    --cor-azul-dessaturado: hsl(235, 45%, 61%);
    --cor-azul-claro: hsl(236, 100%, 87%);
    --cor-branco-: #fff;
    --padding-top: 2rem;
}

main {
    background: var(--cor-azul-muito-escuro);
}

.padding-top {
    padding-top: var(--padding-top);
}

.box-geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 20%;
    padding-bottom: 2rem;
}

.content-geral {
    padding-top: 3rem;
}

.informacoes-cliente {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 140px;
    background: var(--cor-azul);
    border-radius: 1rem;
}

.img-informaçoes {
    width: 40%;
    text-align: center;
}

.img-informaçoes img {
    width: 40%;
    border-radius: 50%;
    border: 3px solid var(--cor-branco-);
}

.content-informaçoes-cliente {
    background: var(--cor-azul-escuro);
    border-radius: 1rem;
}

.relatorio-de-informacoes {
    display: flex;
    justify-content: center;
    height: 50px;
    gap: 30px;
    background: var(--cor-azul-escuro);
    color: var(--cor-azul-claro);
    padding-top: 1rem;
    border-radius: 1rem;
}

.title-section-cliente {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--cor-branco-);
}

span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-azul-claro);
}

.article-color {
    color: var(--cor-branco-);
}

.btn-period {
    cursor: pointer;
}

.content-trabalho {
    border-radius: 1rem;
    background: var(--cor-vermelho-claro-trabalho);
}

.box-conteudo {
    height: 120px;
    background: var(--cor-azul-escuro);
    color: var(--cor-branco-);
    border-radius: 1rem;
    box-sizing: border-box;
}

.img-section {
    text-align: end;
    height: 45px;
    overflow: hidden;
    padding: 0 1rem;
}

.conteudo-informacao {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 2rem;
    justify-content: space-between;
    color: var(--cor-azul-claro);
}

.previous {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    font-size: 1rem;
    padding-bottom: 0.4rem;
    font-weight: 400;
}

.img-previous {
    padding-bottom: 0.4rem;
}

.current {
    color: var(--cor-branco-);
}

.hours {
    font-size: 1.5rem;
}

.previous-hours {
    font-size: 1rem;
}

.content-play {
    border-radius: 1rem;
    background: var(--cor-azul-suave-reproducao);
}

.content-study {
    border-radius: 1rem;
    background: var(--cor-vermelho-claro-estudo);
}

.content-exercise {
    border-radius: 1rem;
    background: var(--cor-verde-limao-exercicio);
}

.content-social {
    border-radius: 1rem;
    background: var(--cor-violeta-social);
}

.content-self-care {
    border-radius: 1rem;
    background: var(--cor-laranja-suave-autocuidado);
}

@media only screen and (min-width: 600px) {
    .content-geral {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5rem;
        padding-top: 0rem;
    }
    .box-geral {
        height: 100vh;
        justify-content: center;
        width: 80%;
        padding-bottom: 0px;
    }
    .box-conteudo {
        height: 10rem;
    }
    .section-cliente {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .content-informaçoes-cliente {
        height: 100%;
    }
    .padding-top {
        padding: 0px;
    }
    .informacoes-cliente {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        padding-left: 2rem;
        height: 20rem;
    }
    .img-informaçoes {
        width: 100%;
        text-align: left;
    }
    .title-section-cliente {
        font-size: 2rem;
    }
    .relatorio-de-informacoes {
        flex-direction: column;
        justify-content: start;
        padding-left: 2rem;
        gap: .5rem;
    }
    .conteudo-informacao {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .img-previous {
        position: relative;
        left: 10rem;
        bottom: 7.5rem;
        cursor: pointer;
    }
    .title {
        padding-top: 2rem;
    }
    .hours {
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    .previous {
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .previous-hours {
        padding-top: .5rem;
    }
}